.aui-dropdown3 {
	position: absolute;	
    z-index: 5;

	&.aui-plain {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0 0 3px 3px;
		min-width: 160px;
        .box-shadow(5px 5px 15px -5px rgba(0,0,0,0.4));

		&.aui-pointer {
			.up-arrow(#fff);
			.up-arrow-border(#ccc);
		}
	}

	&.aui-full {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0 0 3px 3px;
		min-width: 160px;
        .box-shadow(5px 5px 15px -5px rgba(0,0,0,0.4));

		&.aui-pointer {
			.up-arrow(#fff);
			.up-arrow-border(#ccc);
		}
	}
	.aui-menu-link {
		text-decoration: none;
		display: block;
		color: #000;
		&:hover,
        &:focus,  
		&.active {
            outline: 0;
			color: #17518F;
			background-color: #E2EFFA;
		}
	}
}

.aui-dropdown-menu {
	li > strong, a {
		display: block;
		font-weight: bold;
		padding: 6px 8px;
	}
	
	a {
		font-weight: normal;
	}

	&.aui-menu + .aui-menu {
		border-top: 1px solid #CCC;
	}

	&.aui-pointer {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 0 0 5px 5px;
		.up-arrow(#fff);
		.up-arrow-border(#ccc);
		position: relative;
		top: 11px;
	}

	.aui-subtext {
		color: #787878;
		text-decoration: none;
	}
}

.aui-right-aligned .aui-dropdown-menu {
	&.aui-plain {
		&:after {
			left: initial;
			right: 0;
		}

		&:before {
			left: initial;
			right: -1px;
		}
	}
}

.aui-dropdown-arrow {
	position: relative;
	padding-right: 24px;
	.dropdown-arrow(#fff);
}

.aui-plain {
	.aui-appswitch {
		&.aui-dropdown-arrow:hover:after {
			margin-left: 0;
		}
	}

	.aui-dropdown-arrow {
		opacity: 0.8;
	}
}

.aui-full {
	.aui-appswitch {
		&.aui-dropdown-arrow:hover:after {
			margin-left: 0;
		}
	}
}

.aui-dropdown-arrow:hover,
.aui-dropdown-arrow:focus {
	.dropdown-arrow(#333);
}

.aui-plain .aui-dropdown-arrow:hover,
.aui-plain .aui-dropdown-arrow:focus,
.aui-full .aui-dropdown-arrow:hover,
.aui-full .aui-dropdown-arrow:focus  {
	.dropdown-arrow(#fff);
	opacity: 1;
}

.aui-appswitch {
	padding-top: 4px;
}

//AUI-dropdown2
.aui-dropdown2 {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #bbb;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: none;
    max-width: 610px;
    min-width: 140px;
    position: absolute;
    z-index: 12000;
}
.aui-dropdown2-loading:before { content: ''; display: block; background: transparent url()}
.aui-dropdown2 > ul {
    list-style: none;
}
.aui-dropdown2>strong {
    display: block;
}
.aui-dropdown2 > h3,
.aui-dropdown2 > strong,
.aui-dropdown2 > ul {
    background-color: #fff;
    border-top: 1px solid #bbb;
    margin: 0;
    padding: 4px 0;
}

.aui-dropdown2 > h3:first-child,
.aui-dropdown2 > strong:first-child,
.aui-dropdown2 > ul:first-child,
.aui-dropdown2 > h3 + ul,
.aui-dropdown2 > strong + ul {
    border-top: none;
}
.aui-dropdown2 > h3 + ul,
.aui-dropdown2 > strong + ul {
    padding-top: 0;
}
.aui-dropdown2 > h3,
.aui-dropdown2>strong {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3077;
    padding: 4px 8px;
}
.aui-dropdown2 > ul > li > a {
    color: #000;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}
.aui-dropdown2 > ul > li > .active {
    background-color: #326ca6;
    color: #fff;
}
.aui-dropdown2 > ul > li > .disabled {
    color: #909090;
    cursor: default;
}
.aui-dropdown2 > ul > li > .aui-icon-container,
.aui-dropdown2 > ul > li > .aui-dropdown2-radio,
.aui-dropdown2 > ul > li > .aui-dropdown2-checkbox {
    padding-left: 28px;
}
.aui-dropdown2-radio,
.aui-dropdown2-checkbox,
.aui-icon-container {
    background-position: 8px 4px;
    background-repeat: no-repeat;
}
.aui-icon-container {
    position: relative;
}
.aui-icon-container > img,
.aui-icon-container > span {
    border-width: 0;
    left: 8px;
    position: absolute;
    top: 8px;
}
.aui-list-truncate > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
