.navbar:after {
	content: "";
	display: table;
	clear: both;
	background-color: #f90;
}

.navbar {
	background-color: #eee;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	width: 100%;
}

.innernav {
	width: 980px;
	margin: 0 auto;
}