/**
 * RESET
 */
html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
pre,
form,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol,
dl {
  margin: 0;
}
/**
 * TYPOGRAPHY
 */
body {
  font-family: Arial, FreeSans, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.3077;
}
p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
form.aui,
table.aui,
.aui-tabs,
.aui-panel,
.aui-group {
  margin: 16px 0 0 0;
}
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
form.aui:first-child,
table.aui:first-child,
.aui-tabs:first-child,
.aui-panel:first-child,
.aui-group:first-child {
  margin-top: 0;
}
h1 {
  font-size: 25px;
  line-height: 1.16;
}
/* 29px equiv line-height */
h2 {
  font-size: 23px;
  line-height: 1.174;
}
/* 27px equiv line-height */
h3 {
  font-size: 19px;
  line-height: 1.2106;
}
/* 23px equiv line-height */
h4 {
  font-size: 17px;
  line-height: 1.2353;
}
/* 21px equiv line-height */
h5 {
  font-size: 15px;
  line-height: 1.2667;
}
/* 19px equiv line-height */
h6 {
  font-size: 13px;
  line-height: 1.3077;
}
/* 17px equiv line-height */
body {
  font-size: 13px;
  line-height: 1.3077;
  font-family: sans-serif;
}
.aui-menu-bar:after {
  content: "";
  display: table;
  clear: both;
}
.aui-menu-bar.aui-plain {
  background-color: #1C4B77;
  background-color: #215384;
  background-image: -moz-linear-gradient(top, #24598c, #1c4b77);
  background-image: -ms-linear-gradient(top, #24598c, #1c4b77);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24598c), to(#1c4b77));
  background-image: -webkit-linear-gradient(top, #24598c, #1c4b77);
  background-image: -o-linear-gradient(top, #24598c, #1c4b77);
  background-image: linear-gradient(top, #24598c, #1c4b77);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24598c', endColorstr='#1c4b77', GradientType=0);
  border-color: #1c4b77 #1c4b77 #0d2439;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 0 8px 8px 8px;
}
.aui-menu-bar.aui-plain a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-weight: bold;
}
.aui-menu-bar.aui-plain a:hover {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.aui-menu-bar.aui-plain .aui-menu {
  padding: 8px 0 0 0;
}
.aui-menu-bar.aui-full {
  background-color: #1C4B77;
  background-color: #215384;
  background-image: -moz-linear-gradient(top, #24598c, #1c4b77);
  background-image: -ms-linear-gradient(top, #24598c, #1c4b77);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24598c), to(#1c4b77));
  background-image: -webkit-linear-gradient(top, #24598c, #1c4b77);
  background-image: -o-linear-gradient(top, #24598c, #1c4b77);
  background-image: linear-gradient(top, #24598c, #1c4b77);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24598c', endColorstr='#1c4b77', GradientType=0);
  border-color: #1c4b77 #1c4b77 #0d2439;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 0 8px 0 8px;
}
.aui-menu-bar.aui-full a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-weight: bold;
}
.aui-menu-bar.aui-full a:hover {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.aui-menu-bar .aui-menu {
  float: left;
}
.aui-menu-bar .aui-menu.aui-pull-right {
  float: right;
}
.aui-menu-bar .aui-menu > li {
  float: left;
}
.aui-menu-bar .aui-menu > li + li {
  margin-left: 16px;
}
.aui-menu-bar [class|="aui-icon"] {
  margin-top: 4px;
}
.aui-menu-bar input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  font-size: 13px;
  border-radius: 15px;
  height: 20px;
  border: 0;
  margin: 2px 0 0 0;
  padding: 0;
  opacity: 0.9;
  width: 120px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.aui-menu-bar input[type="search"]:-webkit-search-decoration,
.aui-menu-bar input[type="search"]:-webkit-search-cancel-button {
  display: none;
}
.aui-menu-bar input[type="search"]:focus {
  opacity: 1;
  outline: 0;
}
.aui-appswitch {
  padding: 4px 8px 3px 8px;
  float: left;
}
.aui-appswitch img {
  float: left;
  margin: -4px 8px -3px 0;
}
.aui-appswitch:hover {
  background-color: transparent;
}
.aui-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aui-menu.aui-plain .aui-menu-link {
  font-size: 13px;
}
.aui-menu.aui-pills .aui-btn {
  font-size: 13px;
}
.aui-menu.aui-pills .aui-menu-link {
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 13px;
  padding-bottom: 2px;
  padding-top: 3px;
}
.aui-menu.aui-pills .aui-menu-link.aui-active,
.aui-menu.aui-pills .aui-menu-link:aui-active,
.aui-menu.aui-pills .aui-menu-link:hover,
.aui-menu.aui-pills .aui-menu-link:focus {
  background-color: #2e5f8e;
  background-image: -moz-linear-gradient(top, #2a5b8c, #356490);
  background-image: -ms-linear-gradient(top, #2a5b8c, #356490);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a5b8c), to(#356490));
  background-image: -webkit-linear-gradient(top, #2a5b8c, #356490);
  background-image: -o-linear-gradient(top, #2a5b8c, #356490);
  background-image: linear-gradient(top, #2a5b8c, #356490);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a5b8c', endColorstr='#356490', GradientType=0);
  border-color: #356490 #356490 #203d58;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #507EAC;
  opacity: 1;
  outline: 0;
}
.aui-menu.aui-blocks .aui-menu-link {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 8px 9px 8px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.aui-menu.aui-blocks .aui-menu-link.aui-dropdown-arrow {
  padding-right: 24px;
}
.aui-menu.aui-blocks .aui-menu-link.aui-active,
.aui-menu.aui-blocks .aui-menu-link:hover,
.aui-menu.aui-blocks .aui-menu-link:focus {
  background-color: #41709e;
  background-image: -moz-linear-gradient(top, #4978a6, #346492);
  background-image: -ms-linear-gradient(top, #4978a6, #346492);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4978a6), to(#346492));
  background-image: -webkit-linear-gradient(top, #4978a6, #346492);
  background-image: -o-linear-gradient(top, #4978a6, #346492);
  background-image: linear-gradient(top, #4978a6, #346492);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4978a6', endColorstr='#346492', GradientType=0);
  border-color: #346492 #346492 #203d5a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #507EAC;
  opacity: 1;
  outline: 0;
}
.aui-menu.aui-blocks .aui-appswitch {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-bottom: 11px;
  padding-top: 12px;
}
.aui-menu.aui-blocks .aui-appswitch.aui-active,
.aui-menu.aui-blocks .aui-appswitch:hover,
.aui-menu.aui-blocks .aui-appswitch:focus {
  background-color: #41709e;
  background-image: -moz-linear-gradient(top, #4978a6, #346492);
  background-image: -ms-linear-gradient(top, #4978a6, #346492);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4978a6), to(#346492));
  background-image: -webkit-linear-gradient(top, #4978a6, #346492);
  background-image: -o-linear-gradient(top, #4978a6, #346492);
  background-image: linear-gradient(top, #4978a6, #346492);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4978a6', endColorstr='#346492', GradientType=0);
  border-color: #346492 #346492 #203d5a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #507EAC;
  opacity: 1;
  outline: 0;
}
.aui-menu .navbar-search {
  font-size: 13px;
}
.aui-menu-group {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 200px;
}
.aui-menu-group .aui-menu + .aui-menu {
  border-top: 1px solid #CCE;
}
.aui-btn {
  padding: 3px 7px 2px 7px;
  border-radius: 3px;
  border: 1px solid #fff;
  text-decoration: none;
  background-color: #ccc;
  font-size: 13px;
  color: #333;
  line-height: 1.3077;
  margin: 0;
}
.aui-btn.aui-plain {
  background-color: #4c7eb1;
  background-image: -moz-linear-gradient(top, #5a88b7, #366ea7);
  background-image: -ms-linear-gradient(top, #5a88b7, #366ea7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a88b7), to(#366ea7));
  background-image: -webkit-linear-gradient(top, #5a88b7, #366ea7);
  background-image: -o-linear-gradient(top, #5a88b7, #366ea7);
  background-image: linear-gradient(top, #5a88b7, #366ea7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a88b7', endColorstr='#366ea7', GradientType=0);
  border-color: #366ea7 #366ea7 #23486d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.aui-btn.aui-plain.aui-dropdown-arrow:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -1px;
}
.aui-btn.aui-dropdown-arrow:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #333333;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -1px;
}
.aui-btn:hover {
  color: #fff;
  background-color: #999;
}
.aui-btn.aui-dropdown-arrow:hover:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -1px;
}
.aui-dropdown3 {
  position: absolute;
  z-index: 5;
}
.aui-dropdown3.aui-plain {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  min-width: 160px;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.aui-dropdown3.aui-plain.aui-pointer:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  bottom: 100%;
  left: 16px;
  margin-bottom: -1px;
}
.aui-dropdown3.aui-plain.aui-pointer:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  border: 11px solid transparent;
  border-bottom-color: #cccccc;
  bottom: 100%;
  left: 15px;
}
.aui-dropdown3.aui-plain.aui-pointer.rightAligned:before {
  right: -1px;
  left: initial;
}
.aui-dropdown3.aui-plain.aui-pointer.rightAligned:after {
  right: 0;
  left: initial;
}
.aui-dropdown3.aui-full {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  min-width: 160px;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.aui-dropdown3.aui-full.aui-pointer:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  bottom: 100%;
  left: 16px;
  margin-bottom: -1px;
}
.aui-dropdown3.aui-full.aui-pointer:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  border: 11px solid transparent;
  border-bottom-color: #cccccc;
  bottom: 100%;
  left: 15px;
}
.aui-dropdown3.aui-full.aui-pointer.rightAligned:before {
  right: -1px;
  left: initial;
}
.aui-dropdown3.aui-full.aui-pointer.rightAligned:after {
  right: 0;
  left: initial;
}
.aui-dropdown3 .aui-menu-link {
  text-decoration: none;
  display: block;
  color: #000;
}
.aui-dropdown3 .aui-menu-link:hover,
.aui-dropdown3 .aui-menu-link:focus,
.aui-dropdown3 .aui-menu-link.active {
  outline: 0;
  color: #17518F;
  background-color: #E2EFFA;
}
.aui-dropdown-menu li > strong,
.aui-dropdown-menu a {
  display: block;
  font-weight: bold;
  padding: 6px 8px;
}
.aui-dropdown-menu a {
  font-weight: normal;
}
.aui-dropdown-menu.aui-menu + .aui-menu {
  border-top: 1px solid #CCC;
}
.aui-dropdown-menu.aui-pointer {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  position: relative;
  top: 11px;
}
.aui-dropdown-menu.aui-pointer:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  bottom: 100%;
  left: 16px;
  margin-bottom: -1px;
}
.aui-dropdown-menu.aui-pointer:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  border: 11px solid transparent;
  border-bottom-color: #cccccc;
  bottom: 100%;
  left: 15px;
}
.aui-dropdown-menu.aui-pointer.rightAligned:before {
  right: -1px;
  left: initial;
}
.aui-dropdown-menu.aui-pointer.rightAligned:after {
  right: 0;
  left: initial;
}
.aui-dropdown-menu .aui-subtext {
  color: #787878;
  text-decoration: none;
}
.aui-right-aligned .aui-dropdown-menu.aui-plain:after {
  left: initial;
  right: 0;
}
.aui-right-aligned .aui-dropdown-menu.aui-plain:before {
  left: initial;
  right: -1px;
}
.aui-dropdown-arrow {
  position: relative;
  padding-right: 24px;
}
.aui-dropdown-arrow:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -1px;
}
.aui-plain .aui-appswitch.aui-dropdown-arrow:hover:after {
  margin-left: 0;
}
.aui-plain .aui-dropdown-arrow {
  opacity: 0.8;
}
.aui-full .aui-appswitch.aui-dropdown-arrow:hover:after {
  margin-left: 0;
}
.aui-dropdown-arrow:hover:after,
.aui-dropdown-arrow:focus:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #333333;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -1px;
}
.aui-plain .aui-dropdown-arrow:hover,
.aui-plain .aui-dropdown-arrow:focus,
.aui-full .aui-dropdown-arrow:hover,
.aui-full .aui-dropdown-arrow:focus {
  opacity: 1;
}
.aui-plain .aui-dropdown-arrow:hover:after,
.aui-plain .aui-dropdown-arrow:focus:after,
.aui-full .aui-dropdown-arrow:hover:after,
.aui-full .aui-dropdown-arrow:focus:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -1px;
}
.aui-appswitch {
  padding-top: 4px;
}
.aui-dropdown2 {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #bbb;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: none;
  max-width: 610px;
  min-width: 140px;
  position: absolute;
  z-index: 12000;
}
.aui-dropdown2-loading:before {
  content: '';
  display: block;
  background: transparent url();
}
.aui-dropdown2 > ul {
  list-style: none;
}
.aui-dropdown2 > strong {
  display: block;
}
.aui-dropdown2 > h3,
.aui-dropdown2 > strong,
.aui-dropdown2 > ul {
  background-color: #fff;
  border-top: 1px solid #bbb;
  margin: 0;
  padding: 4px 0;
}
.aui-dropdown2 > h3:first-child,
.aui-dropdown2 > strong:first-child,
.aui-dropdown2 > ul:first-child,
.aui-dropdown2 > h3 + ul,
.aui-dropdown2 > strong + ul {
  border-top: none;
}
.aui-dropdown2 > h3 + ul,
.aui-dropdown2 > strong + ul {
  padding-top: 0;
}
.aui-dropdown2 > h3,
.aui-dropdown2 > strong {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3077;
  padding: 4px 8px;
}
.aui-dropdown2 > ul > li > a {
  color: #000;
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}
.aui-dropdown2 > ul > li > .active {
  background-color: #326ca6;
  color: #fff;
}
.aui-dropdown2 > ul > li > .disabled {
  color: #909090;
  cursor: default;
}
.aui-dropdown2 > ul > li > .aui-icon-container,
.aui-dropdown2 > ul > li > .aui-dropdown2-radio,
.aui-dropdown2 > ul > li > .aui-dropdown2-checkbox {
  padding-left: 28px;
}
.aui-dropdown2-radio,
.aui-dropdown2-checkbox,
.aui-icon-container {
  background-position: 8px 4px;
  background-repeat: no-repeat;
}
.aui-icon-container {
  position: relative;
}
.aui-icon-container > img,
.aui-icon-container > span {
  border-width: 0;
  left: 8px;
  position: absolute;
  top: 8px;
}
.aui-list-truncate > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.aui-menu-link {
  display: block;
  padding: 4px 8px 3px 8px;
  font-size: 13px;
}
.aui-menu-link.aui-dropdown-arrow {
  padding-right: 24px;
}
.aui-menu-image {
  display: block;
  margin: 0;
  line-height: 1;
}
.aui-appswitch.aui-dropdown-arrow {
  padding-right: 16px;
}
.aui-appswitch.aui-dropdown-arrow:after,
.aui-appswitch.aui-dropdown-arrow:hover {
  margin-left: 0;
}
.aui-appswitch.aui-dropdown-arrow:hover {
  padding-right: 16px;
}
[class^="aui-icon"],
[class*=" aui-icon"] {
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  text-indent: -9999em;
  vertical-align: top;
  width: 16px;
}
.aui-icon-envelope {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAt0lEQVR42s3TIQoCQRiG4T+JUQ9gEkyeYKNdtHoAq2C2eIwtBo8gZjGLzWDYuDZhXJQVQcP4Djj8QdiBXYMvPFN252sj1tpKfjbQxwk5TMANGSZ+YAhBhAShMoz8HXc8EEPQwKrg8g5tCGa4yGfRtUFLP361QA11LOG6CoeBL0UPggHOeGEKQRcH+IwOaE/MIegggmCs/xYNaGs0IYihBQe0FEfYEgNaaOCOsuXCsYUpaf8fj6mSNzQiiXcqbMa/AAAAAElFTkSuQmCC);
}
.aui-icon-questionmark {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1ElEQVR42qVTywnCQBT05D0teAkIOdlCWkgLFpCLVQQCOdlCGsjBFhZyEgR7EEEQhMD6FmdZGd5jBR/M5c3M++xn5b1nlIJO4AQL4JArWc/mVvD0RoBrtQJrweR/j+njSQV6RdR8ddoIjsR3sUAlWIisYSSkIvBste4jxIXAIbeLk/AUIXmh5AHiWskVpD2H5CtzYA7GoG2Iu+cKnGCME92IfwTiqjlp973KYoXBtKfRncH3xjXmA54q7jcYhxf5UeueecpUwHrK/38m+zvPPsVsfec323SgKmSJhfUAAAAASUVORK5CYII=);
}
.aui-icon-issue {
  background-image: url(../img/issue.png);
}
.aui-pull-right {
  float: right;
}
.aui-pull-left {
  float: left;
}
.aui-hide {
  display: none;
}
.aui-show {
  display: block;
}
.aui-invisible {
  visibility: hidden;
}
